body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.autocomplete {
  width: 400px;
  margin: 30px auto;
  position: relative;
}
input {
  background: rgb(249 250 251);
  border: 1px solid rgb(209 213 219);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  width: 402px;
  outline: 2px transparent;
  transition: all 0.3s;
  font-family: 'Open Sans', sans-serif;
}
input:hover {
  border-color: #999;
}
input:focus {
  box-shadow: rgb(255, 255, 255) 0 0 0 0, rgb(63, 131, 248) 0 0 0 1px, rgb(0, 0, 0) 0 0 0 0;
}
.no-autocomplete {
  color: #999;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}
.autocomplete-list {
  background: #fff;
  position: absolute;
  z-index: 10;
  border: 1px solid rgb(209 213 219);
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  min-height: 50px;
  max-height: 200px;
  overflow-y: auto;
  padding-left: 0;
  width: 400px;
}
.autocomplete-list li {
  padding: 8px;
  font-size: 14px;
  background: white;
}
.autocomplete-list > .active, .autocomplete-list > .active:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.autocomplete-list li:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
.autocomplete-list li:not(:last-of-type) {
  border-bottom: 1px solid rgb(209 213 219);
}


.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  width: 24px;
  height: 24px;
  margin: 12px auto;
  display: block;
  border: 2px solid #ccc;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.features {
  width: 400px;
  margin: 0 auto;
}
.features li {
  margin: 10px 0;
  color: #636363;
  font-size: 14px;
}
